.main-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.text{
  transform: translate(0px, -80px);
  font-size: 1.5rem;
}

.heart{
  height: 70px;
  width: 70px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 1s linear infinite;
}

@keyframes heart {
  0%{
    transform: rotate(-45deg) scale(1.07);
  }
  80%{
    transform: rotate(-45deg) scale(1.0);
  }
  100%{
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart:before{
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  top: -50%;
  border-radius: 50px;
  box-shadow: -10px 10px 90px #f20044;
}

.heart:after{
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  right: -50%;
  border-radius: 50px;
  box-shadow: -10px 10px 90px #f20044;
}
