.main-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.question{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.warning{
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.btn-confirm{
  margin-right: 1rem;
}

.run_away{
  position: absolute;
  transition: transform 0.5s ease;
}
